
downloaddata/.DS_Store
downloaddata/.DS_Store
downloaddata/output/.DS_Store
downloaddata/temp/.DS_Store
downloaddata/.DS_Store
downloaddata/.DS_Store
downloaddata/code/wget-log
downloaddata/output/concentradohogar2016.dta
downloaddata/output/concentradohogar2018.dta
downloaddata/output/concentradohogar2020.dta
downloaddata/output/concentradohogar2022.dta
downloaddata/output/nota_bases_datos_enigh2016_ns.txt
downloaddata/output/nota_bases_datos_enigh2018_ns.txt
downloaddata/output/concentradohogar.dta
downloaddata/temp/enigh2018_dta.zip
downloaddata/temp/enigh2020_dta.zip
downloaddata/temp/enigh2022_dta.zip
downloaddata/.DS_Store
.DS_Store
downloaddata/.DS_Store
downloaddata/output/poblacion2016.dta
downloaddata/output/poblacion2018.dta
downloaddata/output/poblacion2020.dta
downloaddata/output/poblacion2022.dta
enoedata/.DS_Store
.DS_Store
downloaddata/.DS_Store
*.dta
enighdata/code/~enighdata.do.stswp
data/enigh/code/~enighdata.do.stswp
data/deflators/code/.Rhistory
